In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3),
                  index=list(range(1,6)),
                  columns=list("ABC"))

In [3]:
df

          A         B         C
1 -0.052478  0.129009  0.094880
2  0.063020 -1.160851  0.172210
3  0.644643 -0.515797  0.407549
4  0.656511  1.119538 -0.151926
5  0.509327 -0.533318 -0.050515

In [4]:
df[df.B>0]

          A         B         C
1 -0.052478  0.129009  0.094880
4  0.656511  1.119538 -0.151926

In [5]:
df.loc[2:3, "B":"C"]

          B         C
2 -1.160851  0.172210
3 -0.515797  0.407549

In [6]:
df.loc[2,"B"]

-1.1608505510918563

In [7]:
df.loc[2,"B"]=1

In [8]:
df

          A         B         C
1 -0.052478  0.129009  0.094880
2  0.063020  1.000000  0.172210
3  0.644643 -0.515797  0.407549
4  0.656511  1.119538 -0.151926
5  0.509327 -0.533318 -0.050515

In [11]:
df.loc[df.B>0, "C"]=0

In [12]:
df

          A         B         C
1 -0.052478  0.129009  0.000000
2  0.063020  1.000000  0.000000
3  0.644643 -0.515797  0.407549
4  0.656511  1.119538  0.000000
5  0.509327 -0.533318 -0.050515